.footer {
  &-contact {
    margin-top: 230/$middleDesktop + rem;
    @media (min-width:1400px) {
      margin-top: 230/$largeDesktop + rem;
    }
    a {
      margin: 0 20px;
      font-size: $primary-font-size / $middleDesktop + rem;
      @include for-big-desktop-up($primary-font-size);
    }
  }
  &-info {
    display: flex;
    align-items: center;
    height: 100/$middleDesktop + rem;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid $border-grey;
    font-size: $primary-font-size / $middleDesktop + rem;
    @include for-big-desktop-up($primary-font-size);
    @media (min-width:1400px) {
      height: 100/$largeDesktop + rem;
    }
  }
  &-links {
    margin-top: 80/$middleDesktop + rem;
    @media (min-width:1400px) {
      margin-top: 80/$largeDesktop + rem;
    }
    &-title {
      font-family: 'Cocogoose Pro SemiLight',sans-serif;
      font-size: $default-font-size / $middleDesktop + rem;
      margin-bottom: 46/$middleDesktop + rem;
      @media (min-width:1400px) {
        margin-bottom: 46/$largeDesktop + rem;
      }
      @include for-big-desktop-up($default-font-size);
    }
    &-item {
      display: inline-block;
      color: inherit;
      font-size: $primary-font-size / $middleDesktop + rem;
      @include for-big-desktop-up($primary-font-size);
      margin-bottom: 5/$middleDesktop+ rem;
      @media (min-width:1400px) {
        margin-bottom: 12/$largeDesktop + rem;
      }
      &:hover {
        color: inherit;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &-info {
      font-size: 11px;
      height: 130px;
      padding: 0 25px;
      line-height: 1.9;
    }
    &-links {
      padding-left: 25px;
      padding-right: 25px;
      &-item {
        font-size: 11px;
      }
      &-title {
        font-size: 12px;
        +ul {
          margin-bottom: 20px;
        }
      }
    }
  }
}
