@font-face {
  font-family: 'Cocogoose Pro Regular';
  src: url('./fonts/CocogoosePro-Regular/CocogoosePro-Regular.eot');
  src: url('./fonts/CocogoosePro-Regular/CocogoosePro-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CocogoosePro-Regular/CocogoosePro-Regular.woff2') format('woff2'),
  url('./fonts/CocogoosePro-Regular/CocogoosePro-Regular.woff') format('woff'),
  url('./fonts/CocogoosePro-Regular/CocogoosePro-Regular.ttf') format('truetype'),
  url('./fonts/CocogoosePro-Regular/CocogoosePro-Regular.svg#CocogoosePro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cocogoose Pro Light';
  src: url('./fonts/CocogoosePro-Ligh/CocogoosePro-Light.eot');
  src: url('./fonts/CocogoosePro-Ligh/CocogoosePro-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CocogoosePro-Ligh/CocogoosePro-Light.woff2') format('woff2'),
  url('./fonts/CocogoosePro-Ligh/CocogoosePro-Light.woff') format('woff'),
  url('./fonts/CocogoosePro-Ligh/CocogoosePro-Light.ttf') format('truetype'),
  url('./fonts/CocogoosePro-Ligh/CocogoosePro-Light.svg#CocogoosePro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cocogoose Pro SemiLight';
  src: url('./fonts/CocogoosePro-SemiLight/CocogoosePro-SemiLight.eot');
  src: url('./fonts/CocogoosePro-SemiLight/CocogoosePro-SemiLight.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CocogoosePro-SemiLight/CocogoosePro-SemiLight.woff2') format('woff2'),
  url('./fonts/CocogoosePro-SemiLight/CocogoosePro-SemiLight.woff') format('woff'),
  url('./fonts/CocogoosePro-SemiLight/CocogoosePro-SemiLight.ttf') format('truetype'),
  url('./fonts/CocogoosePro-SemiLight/CocogoosePro-SemiLight.svg#CocogoosePro-SemiLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Cocogoose Pro UltraLightItalic';
  src: url('./fonts/CocogoosePro-UltraLightItalic/CocogoosePro-UltraLightItalic.eot');
  src: url('./fonts/CocogoosePro-UltraLightItalic/CocogoosePro-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CocogoosePro-UltraLightItalic/CocogoosePro-UltraLightItalic.woff2') format('woff2'),
  url('./fonts/CocogoosePro-UltraLightItalic/CocogoosePro-UltraLightItalic.woff') format('woff'),
  url('./fonts/CocogoosePro-UltraLightItalic/CocogoosePro-UltraLightItalic.ttf') format('truetype'),
  url('./fonts/CocogoosePro-UltraLightItalic/CocogoosePro-UltraLightItalic.svg#CocogoosePro-UltraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

